@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -4em;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: .90em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.logo {
    float: left;
    overflow: hidden;
    margin-left: .25em;
    margin-top: .15em;
}

.nav {
    text-decoration: none;
    list-style-type: none;
    padding-right: 1em;
    float: right;
}

.nav a {
    text-decoration: none;
}
    
.nav li {
        display: inline-block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;

  color: #000;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {

    color: #fff;
}

.billboard {
    margin: 0;
    padding: 20rem 0 5rem;
    width: 100%;
    background-image: url(../photos/billboard-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-size: cover;
}

.happily-after {
    margin: 0;
    color: #000;
    text-align: center;
    padding: 1rem;
    background-color: rgba(255,255,255,0.5);

}

.titles {
    text-align: center;
    color: #00254a;
}

.about {
    max-width: 85%;
    margin: 0 auto;
}

.background-tour {
    background-color: #e2ddcb;
}   

.tour-caption {
    text-align: center;
}

.icons {
    max-width: 50%;
    margin: 0 auto;
}

.icon-d {
    font-family: sans-serif;
}

.testimonial {
    max-width: 45em;
    margin: 0 auto;
    text-align: center;
}

span {
    font-family: serif;
}

.icons-pricing {
    max-width: 40%;
    margin: 0 auto;
}

.icon-d-pricing {
    font-family: sans-serif;
}

.faq {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.faq-q {
    color: #a65d43;
}

.footer-all {
    background-color: #3d5567;
}

.social-media-buttons {
    display: inline-block;
    float: right;
    width: 40px;
}

.list {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding-right: 1em;
    text-transform: uppercase;
}

.top {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.buttons {
    text-decoration: none;
    text-transform: uppercase;
}

button {
    background-color: #c8aca1;
    border-radius: 10px;
    padding: 1em 0.75em;
    color: #fff;
}

button:hover {
    background-color: #00254a;
    cursor: pointer;
}

button:active {
    background-color: #fff;
    color: #00254a;
}

.sign-up-button {
    float: right;
}

form {
    max-width: 45em;
    margin: 0 auto;
}

input[type="text"] {
    padding: .75em;
    width: 100%;
}

input[type="email"] {
    padding: .75em;
    width: 100%;
}

input[type="number"] {
    padding: .75em;
    width: 100%;
}

.thank-you-p {
    margin: auto 0;
    text-align: center;
}

.return-home {
    text-align: center;
    margin: auto 0;
}

.return-home-button {
    text-align: center;
}

@media only screen and (min-width: 15em) {
    
    .logo {
        max-width: 60px;
    }
}

@media only screen and (min-width: 20em) {
    
    .logo {
        max-width: 60px;
    }
}

@media only screen and (min-width: 38em) {
    
    .logo {
        max-width: 150px;
    }
}

@media only screen and (min-width: 60em) {
    
    .logo {
        max-width: 250px;
    }
    
    .about-width {
        max-width: 53%;
    }
}